---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import desktopSVG from '../../public/final-rocket.svg';
---

<Layout title="DUCKBOOST">
	<div class="flex h-screen justify-center items-center w-full flex-col">
		<div class="flex content-center items-center max-w-2xl">
			<h1 class="">
				Dedicated to simplifying the web developer experience.
				DuckBoost is a simple and minimalist collection of projects and articles for developers and students.
			</h1>
	
			<Image src={desktopSVG} format="svg" alt="desktop" loading="lazy" class="w-60 h-60"/>
		</div>
		<div>
			<svg class="w-6 h-6 text-gray-800 dark:text-white cursor-pointer animate-bounce" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
			</svg>
		</div>

	</div>

</Layout>

<style>


	content {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 540px) {
			justify-content: center;
		}

		h1 {
			width: 60%;
			@media (max-width: 540px) {
				width: 100%;
			}
		}
	}
</style>
